In [17]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([4,7,8,9,-5])
obj

0    4
1    7
2    8
3    9
4   -5
dtype: int64

In [3]:
obj.values

array([ 4,  7,  8,  9, -5])

In [4]:
obj.value_counts

<bound method IndexOpsMixin.value_counts of 0    4
1    7
2    8
3    9
4   -5
dtype: int64>

In [5]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
obj2 = pd.Series([4,7,-8,-9], index=['a', 'b', 'c', 'd'])
obj2[obj2>0]*2

a     8
b    14
dtype: int64

In [8]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [10]:
obj2['b']

7

In [12]:
obj2[['a', 'd']]

a    4
d    9
dtype: int64

In [19]:
np.exp(obj2[obj2<0])

c    0.000335
d    0.000123
dtype: float64

In [20]:
'b' in obj2

True

In [21]:
1 in obj

True

In [22]:
100 in obj

False

In [24]:
#creating pandas Series by passing the dict:
sdata= {'Ohio':35000, 'Texas':43000, 'Oregon':16000,'Utah':5000}
sdata

{'Ohio': 35000, 'Texas': 43000, 'Oregon': 16000, 'Utah': 5000}

In [26]:
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     43000
Oregon    16000
Utah       5000
dtype: int64

In [28]:
states = ['Cali', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

Cali          NaN
Ohio      35000.0
Oregon    16000.0
Texas     43000.0
dtype: float64

In [29]:
pd.isnull(obj4)

Cali       True
Ohio      False
Oregon    False
Texas     False
dtype: bool

In [31]:
obj3

Ohio      35000
Texas     43000
Oregon    16000
Utah       5000
dtype: int64

In [32]:
obj4

Cali          NaN
Ohio      35000.0
Oregon    16000.0
Texas     43000.0
dtype: float64

In [33]:
obj3+obj4

Cali          NaN
Ohio      70000.0
Oregon    32000.0
Texas     86000.0
Utah          NaN
dtype: float64

In [34]:
obj3.name = 'population'
obj4.index.name = 'state'

In [35]:
obj3

Ohio      35000
Texas     43000
Oregon    16000
Utah       5000
Name: population, dtype: int64

In [36]:
obj4

state
Cali          NaN
Ohio      35000.0
Oregon    16000.0
Texas     43000.0
dtype: float64

In [37]:
obj

0    4
1    7
2    8
3    9
4   -5
dtype: int64

In [41]:
obj.index = ['Bob', 'Steve', 'Mike', 'John', 'Poll']

In [42]:
obj

Bob      4
Steve    7
Mike     8
John     9
Poll    -5
dtype: int64